.App {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.calculatorContainer {
  width: 500px;
  height: 450px;
  background: rgb(249, 249, 249);
  border: 1px solid black;
  border-radius: 15px;
  margin: 0 auto;
}

.resultScreen {
  height: 52px;
  padding-top: 2px;
  padding-right: 10px;
  background-color: rgb(167, 167, 167);
  color: #fff;
  border-radius: 15px 15px 0 0;
  font-size: 25px;
  text-align: right;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.calculatorButtons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1px;
}

button {
  border: none;
  padding: 28.8px;
  cursor: pointer;
  font-size: 18px;
  font-weight: 400;
}

button:hover {
  background-color: rgba(79, 255, 35, 0.352);
}

button:nth-child(4n) {
  background-color: rgb(255, 161, 73);
}

button:nth-child(17) {
  border-bottom-left-radius: 15px;
  grid-column: 1/3;
}

button:last-child {
  border-bottom-right-radius: 15px;
  background-color: rgb(255, 161, 73);
}

button:nth-child(4n):hover {
  background-color: rgb(255, 134, 22);
}

button:last-child:hover {
  background-color: rgb(255, 134, 22);
}
